<div class="container-a">


  <div class="text-center">
    <form class="form-signin" (submit)="onLoginSubmit()">
      
      <h1 class="h3 mb-3 font-weight-normal">Please Login</h1>
      <input name="username" [(ngModel)]="username" class="inputs" placeholder="Username" required autofocus><br><br>
      <input type="password" name="password" [(ngModel)]="password" class="inputs"  placeholder="Password" required><br><br>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary" type="submit">Login</button>
      
    </form>
  </div>
</div>