<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron"  style="background:linear-gradient(#eeece8, #ebc1a9, #eecee8) " >
    <div class="container">
      <h1 class="display-3">Discover and Enjoy! </h1>
      <p style="font-size: 30px;">What are you waiting for?</p>
      <p><a class="btn btn-primary btn-lg" [routerLink]="['/register']" role="button">Join now &raquo;</a></p>
      <p><a  [routerLink]="['/login']" >Already have an account</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <p><a class="btn btn-secondary" [routerLink]="['/discover']"role="button">Discover without join &raquo;</a></p>
    <div class="row">
      <div class="col-md-4">
          <img src="https://firebasestorage.googleapis.com/v0/b/digmypast-cc2a9.appspot.com/o/Screen%20Shot%202018-07-10%20at%2012.30.51%20AM.png?alt=media&token=b79a471f-42c5-46ce-a5f3-a4199d54cb6b" style="width: 300px; height: 200px;">
        
      </div>
      <div class="col-md-4">
        <img src="https://firebasestorage.googleapis.com/v0/b/digmypast-cc2a9.appspot.com/o/Screen%20Shot%202018-07-10%20at%2012.31.09%20AM.png?alt=media&token=f0a74d60-1990-45cb-8c8a-2f937e1414b7" style="width: 300px; height: 200px;">
        
      </div>
      <div class="col-md-4">
          <img src="https://firebasestorage.googleapis.com/v0/b/digmypast-cc2a9.appspot.com/o/Screen%20Shot%202018-07-10%20at%2012.31.23%20AM.png?alt=media&token=f52cdc4f-2f6b-44b7-a274-7fd0a6510fe1" style="width: 300px; height: 200px;">
        
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

<footer class="container">
 
</footer>
