/* .container{
    margin-top: 100px;
} */
.flashmessage{
    width: 400px;
    margin-top: 10px;
    margin-left: 400px;
    position: absolute;
    font-size: 15px;
    -webkit-box-shadow: 0 0 10px rgb(129, 129, 129);
        box-shadow: 0 0 10px rgb(129, 129, 129);
}