<div style="width: 100%; height: 100%; padding-bottom: 200px;">
    <div class="containera" [routerLink]="['/profile']" >
    <div class="text-center">
        <img *ngIf='!user1.ProfilePhoto'style=" width:150px; height: 150px;"  src="https://firebasestorage.googleapis.com/v0/b/digmypast-cc2a9.appspot.com/o/Screen%20Shot%202018-06-10%20at%208.37.57%20PM.png?alt=media&token=d887cc05-bb1a-4bca-8910-6b6f73b22994" class="avatar img-circle" alt="avatar">
        <img *ngIf='user1.ProfilePhoto'style=" width:150px; height: 150px;"  src="{{user1.ProfilePhoto}}" class="avatar img-circle" alt="avatar">
    </div>
    <div class="header">
            <!-- <h1 *ngIf="user">{{user.first_name[0].toUpperCase()+user.first_name.slice(1)}} {{user.last_name[0].toUpperCase()+user.last_name.slice(1)}}</h1> -->
            <h1 *ngIf="user" style="margin-left: 510px;">{{user1.username}}</h1>
            
    </div>
    <div class="info">
        <p *ngIf="user1">{{user1.info}}</p>
    </div>
    
  </div>
  <div style=" width: 100px; margin-left: 510px;">
      <input type="file" class="form-control" (change)="onFileSelected($event)" value="add more pictures"><br>
      <button  *ngIf="newUrl" (click)="onload()">Upload</button><br><br>
  </div>

      <div  *ngFor="let picture of user1.pictures" style="width: 250px; height: 250px; margin-left:30px; display: inline-block;overflow: hidden;margin-top: 30px;">
          <button *ngIf='user._id === user1._id ' (click)="makeAvatar(picture)" style="margin-bottom: 5px;" class="btn">set main photo</button>
          <span class="close" (click)="removeImg(picture)" *ngIf='user._id === user1._id'>&times;</span>
          <img style="width: 250px;" src="{{picture.url}}" >
      </div>
  </div>

